$epColor: #BCC4FF;
$bodyAppColor: #788BCC;
$blockTableColor: #2C3C47;

body {
  margin: 0;
  background-color: $bodyAppColor;
}

.app {
  background-color: $bodyAppColor;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#editorWrapper {
  width: 600px;
  margin-bottom: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 20px 2px #444444;

  #editorHeading {
    background-color: #7184C1;
    font-weight: bold;
    padding: 4px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  #editor {
    background-color: $epColor;
    padding: 4px;
    box-shadow: 0px 15px 20px -15px #444444 inset;
  }
}

#previewWrapper {
  width: 800px;
  border: 1px solid black;
  align-self: center;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 20px 2px #444444;

  #previewHeading {
    background-color: #7184C1;
    font-weight: bold;
    padding: 4px;
  }

  #preview {
    background-color: $epColor;
    padding: 4px;
    border-top: 1px solid black;
    box-shadow: 0px 15px 20px -15px #444444 inset;

    h1 {
      border-bottom: 2px solid $blockTableColor;
    }

    h2 {
      border-bottom: 1px solid $blockTableColor;
    }

    code {
      background-color: white;
    }

    pre {
      background-color: white;
    }

    blockquote {
      border-left: 3px solid $blockTableColor;
      color: $blockTableColor;
      padding-left: 4px;
    }

    table {
      border-collapse: collapse;
    }

    table, th, td {
      border: 2px solid $blockTableColor;
      padding: 4px;
    }
  }

}
